# action.yml
name: 'Print phrase from entrypoint.sh'
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          echo "line1" ,
          echo "line2" ,
          echo $HOSTNAME ,
          dt=$(date '+%Y/%m/%d') ,
          echo $dt
